/*initialize with bootstrap and jquery*/
.mb_banner{
	height: 100vh;
	width: 100%;
	background-position: center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	position: fixed;

}

.blur{
	filter: blur(2px);
}
.blur_m{
	filter: blur(4px);
}
.blur_h{
	filter: blur(7px);
}

circle{
	position: absolute;
	min-height: 10px;
	min-width: 10px;
	background:red;
	border-radius: 50%;
	top: 0;
	left: 0;

}

.shd{
	box-shadow: 0 0 7px grey;
}

.hide{
	display: none;
}
.bt{
	padding: 2px 5px !important;
	border-radius: 0;
	font-size: 12px;
	border: 0;
}
.btn-sec{
	background: rgba(0,0,0,0.3);
	color: white;
}
.bt:focus{
	border: 0 !important;
	box-shadow: 0 0 0;
	color: white
}

.crd{
	background: rgba(0,0,0,0.04);
	min-height: 30px;
	padding: 0;
	margin:10px 0;
}

button:focus{
	box-shadow: 0 0 0 !important;
}
